- name: install nvm
  shell: 'curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.39.5/install.sh | bash'

- name: install node
  shell: "bash -lc '. {{ ansible_env.HOME }}/.nvm/nvm.sh && nvm install stable --latest-npm'"

- name: install yarn and pnpm
  shell: "bash -lc '. {{ ansible_env.HOME }}/.nvm/nvm.sh && npm i -g yarn pnpm'"
